<h1>Questions#answer</h1>
<div class="container">
  <div class="btn btn-danger">
    <!-- <p>Find me in app/views/questions/answer.html.erb</p> -->
    <h3>Coach says:</h3>
    <%= @result %>
  </div>
</div>
