<h1>Question # Ask</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
<div class="container">
  <form action="/answer" method="get">
    <input type="text" name="answer" placeholder="How are you today?" id="text-form">
    <input type="submit" class="btn btn-primary">
  </form>
</div>

